<nav class="bg-black text-white p-4 fixed w-screen">
     <div class="hidden md:flex justify-end items-center">
          <div class="flex space-x-4">
               <a routerLink="/login" *ngIf="!authService.isLoggedIn()" class="text-lg hover:text-gray-300">Login</a>
               <a routerLink="/signup" *ngIf="!authService.isLoggedIn()" class="text-lg hover:text-gray-300">SignUp</a>
               <a routerLink="/profile" *ngIf="authService.isLoggedIn()" class="text-lg hover:text-gray-300">Profile</a>
               <a (click)="authService.logout()" *ngIf="authService.isLoggedIn()"
                    class="text-lg hover:text-gray-300">Logout</a>
          </div>
     </div>
     <div class="md:hidden flex justify-between items-center">
          <button (click)="toggleMenu()" class="text-white text-2xl focus:outline-none">
               <i class="fas fa-bars"></i>
          </button>
     </div>
     <div *ngIf="menuOpen" class="md:hidden flex flex-col space-y-4 mt-4">
          <a routerLink="/login" *ngIf="!authService.isLoggedIn()" (click)="closeMenu()"
               class="text-lg hover:text-gray-300">Login</a>
          <a routerLink="/signup" *ngIf="!authService.isLoggedIn()" (click)="closeMenu()"
               class="text-lg hover:text-gray-300">SignUp</a>
          <a routerLink="/profile" *ngIf="authService.isLoggedIn()" (click)="closeMenu()"
               class="text-lg hover:text-gray-300">Profile</a>
          <a (click)="authService.logout(); closeMenu()" *ngIf="authService.isLoggedIn()"
               class="text-lg hover:text-gray-300">Logout</a>
     </div>
</nav>
<div class="bg-gradient-to-r from-teal-500 via-blue-600 to-indigo-500 h-screen">
     <router-outlet />
</div>